@import "tailwindcss";

@theme {
    --color-redbrick: #bc4b51;
    --color-greensage: #8cb369;
    --color-orangetangerine: #f4a259;
    --color-greenjade: #5b8e7d;
    --color-yellowbutter: #f4e285;

    --font-family-tasa-orbiter: var(--font-tasa-orbiter);
}

@layer utilities {
    .no-scroll::-webkit-scrollbar {
        display: none;
    }
    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-ui {
        appearance: none;
    }

    /* Remove number arrows for WebKit browsers */
    .no-ui::-webkit-inner-spin-button,
    .no-ui::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Remove number arrows for Firefox */
    .no-ui[type="number"] {
        -moz-appearance: textfield;
    }
}

body {
    font-family: var(--font-tasa-orbiter);
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: #fff2;
        box-shadow: 32px 0 #fff2, -32px 0 #fff;
    }
    50% {
        background-color: #fff;
        box-shadow: 32px 0 #fff2, -32px 0 #fff2;
    }
    100% {
        background-color: #fff2;
        box-shadow: 32px 0 #fff, -32px 0 #fff2;
    }
}
